@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e4e4e6;
  max-width: 1124px;
  margin: 0 auto;
}

header {
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(56, 54, 54);
  letter-spacing: 0.75px;
}

header img {
  width: 150px;
}
main {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  padding-top: 5rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding: 1rem;
  height: 525px;
  min-width: 400px;
  background: #f2f2f2;
  border-radius: 1rem;
  color: rgb(56, 54, 54);
}

.weather-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  padding: 1rem;
  height: 525px;
  min-width: 400px;
  background: #f2f2f2;
  border-radius: 1rem;
  color: rgb(56, 54, 54);
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
}

h2 {
  font-weight: 300;
  letter-spacing: 1px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 1rem 0;
  padding: 1rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  color: #8e8e8e;
}

input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  color: #8e8e8e;
  outline: none;
  border: none;
  cursor: pointer;
}

#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  color: #8e8e8e;
  outline: none;
  border: none;
  height: 25px;
  text-align: center;
  cursor: pointer;
}

.opt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  color: #8e8e8e;
  background: white;
  padding: 1rem;
  width: 300px;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

#opt {
  width: auto;
  margin-bottom: 0rem;
  box-shadow: none;
}

.hidden {
  display: none;
}

.active {
  position: absolute;
  bottom: 3%;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  animation: fadeOut 10s;
  z-index: 100;
}

#btn:hover {
  background-color: rgb(216, 216, 216);
  transition: 0.5s all;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
